# Python Virtual Environment
venv/

# Downloaded BEIR Datasets
# (Per the instructions, the dataset should not be submitted)
datasets/

# Generated Retrieval Results
results/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / Editor specific files
.DS_Store
.vscode/
.idea/